/* src/components/ExercisesStage.module.css */
.container {
  padding: 2rem;
  background-color: rgb(var(--background-main-rgb));
  border-radius: var(--border-radius-main);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(var(--foreground-main-rgb));
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: rgb(var(--primary-main-rgb));
  color: rgb(var(--button-text-rgb));
  border: none;
  border-radius: var(--border-radius-accent);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(var(--primary-dark-rgb));
}

.noExercises {
  font-size: 1.25rem;
  color: rgb(var(--foreground-alt-rgb));
}
