/* src/components/TicketFilters.module.css */
.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  background-color: rgb(var(--background-accent-rgb));
  border-radius: var(--border-radius-main);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.filtersTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(var(--foreground-main-rgb));
}

.filterInputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.filterInput {
  padding: 0.75rem;
  border: 1px solid rgb(var(--foreground-alt-rgb));
  border-radius: var(--border-radius-accent);
  background-color: rgb(var(--background-main-rgb));
  color: rgb(var(--foreground-main-rgb));
}

.filterInput:focus {
  border-color: rgb(var(--primary-dark-rgb));
  outline: none;
}

.filterButtons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.button {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: var(--border-radius-start);
  background-color: rgb(var(--primary-main-rgb));
  color: rgb(var(--button-text-rgb));
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(var(--primary-dark-rgb));
}
