/* src/components/AllLetters.module.css */
.letterBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: rgb(var(--background-main-rgb));
  border-radius: var(--border-radius-main);
}

.letterLink {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.letterLink:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.unlockedLetter {
  font-size: 2rem;
  color: rgb(var(--primary-main-rgb));
}

.lockedLetter {
  font-size: 2rem;
  color: rgb(var(--foreground-alt-rgb));
  opacity: 0.5;
  cursor: not-allowed;
}

.unlockedLetter:hover {
  color: rgb(var(--primary-dark-rgb));
}

.lockedLetter {
  color: rgb(var(--foreground-accent-rgb));
}
