/* src/components/TicketDetails.module.css */
.container {
  padding: 1.5rem;
  border-radius: var(--border-radius-main);
  background-color: rgb(var(--background-accent-rgb));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(var(--foreground-main-rgb));
}

.detailItem {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: rgb(var(--foreground-accent-rgb));
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: var(--border-radius-start);
  background-color: rgb(var(--primary-main-rgb));
  color: rgb(var(--button-text-rgb));
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(var(--primary-dark-rgb));
}
